In [1]:
import pandas as pd
import numpy as np

In [ ]:
## 1.tipos de datos básicos

## -enteros (int)
## -flotantes
## -cadenas

In [ ]:
# tipos de datos estructurados

## listas coleccion ordenada y modificable
## tuplas coleccion ordenada e inmutable
## diccionarios colección desordenada de pares clave valor

In [2]:
# crea un df a partir de una lista de diccionarios

personData = [
    {"nombre": 'Juan', "edad": 25, "ciudad": 'ciudad A'},
    {"nombre": 'Juan', "edad": 25, "ciudad": 'ciudad A'},
    {"nombre": 'Juan', "edad": 25, "ciudad": 'ciudad A'}
]

df = pd.DataFrame(personData)
df.head(3)

  nombre  edad    ciudad
0   Juan    25  ciudad A
1   Juan    25  ciudad A
2   Juan    25  ciudad A

In [3]:
# libreria numpy

edades = np.array([25, 3, 2])